<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Home Life</title>

  <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
  <meta charset="utf-8">
</head>

<body>
 


  <h1>
    Our Passion
    ... ...
  </h1>

  <h1>
    Our Mission and Vision
    ...
    ...
  </h1>


  <h1>
    Our Team
    ...
    ...
  </h1>

  <h1>
    Our Core Competancies
    ...
    ...
  </h1>
  <h1>
    Pricing
  </h1>


 <table border="1">
    <tr>
      <td rowspan="2" colspan="2"></td>
      <td colspan="3">Room Size</td>
    </tr>

    <tr>
      <td>1br</td>
      <td>2br</td>
      <td>3br</td>
    </tr>

    <tr>
      <td rowspan="3">Service Level</td>
      <td>Basic</td>
      <td>800</td>
      <td>1300</td>
      <td>1600</td>
    </tr>

    <tr>
      <td>Plus</td>
      <td>1000</td>
      <td>1500</td>
      <td>1900</td>
    </tr>

    <tr>
      <td>Premium</td>
      <td>1150</td>
      <td>1650</td>
      <td>2100</td>
    </tr>
  </table>


</body>
</html>
