<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Home Life</title>

  <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
  <meta charset="utf-8">
</head>

<body>
 



  <h1>
    Our Vsion: To provide a less expensive living option to seniors on the waitlists for affordable housing programs
  </h1>


  <h1>
    Our Team
    <img src="/images/team.png">

  </h1>

  <h1>
    Core Competency: 
  </h1>

      <br>* Finding compatible roommates for seniors based on their personal preferences</br>
      <br>* Vetting potential roommates through background/credit checks</br>
      <br>* Facilitating meet and greets between potential roommate matches</br>
      <br>* Working with nonprofits to find seniors in need of cheaper housing while they are on the waitlist for affordable housing</br>
  
  <h1>
    Pricing
  </h1>


 <table border="1">
    <tr>
      <td rowspan="2" colspan="2"></td>
      <td colspan="3">Room Size</td>
    </tr>

    <tr>
      <td>1br</td>
      <td>2br</td>
      <td>3br</td>
    </tr>

    <tr>
      <td rowspan="3">Service Level</td>
      <td>Basic</td>
      <td>800</td>
      <td>1300</td>
      <td>1600</td>
    </tr>

    <tr>
      <td>Plus</td>
      <td>1000</td>
      <td>1500</td>
      <td>1900</td>
    </tr>

    <tr>
      <td>Premium</td>
      <td>1150</td>
      <td>1650</td>
      <td>2100</td>
    </tr>
  </table>


</body>
</html>
