<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Home Life</title>

  <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
  <meta charset="utf-8">
</head>

<body>
 


  <h1>
    Welcome to Home Life!
  </h1>





  
  <p>
    Helping low income seniors find affordable living arrangements.
  </p>

  <div>
    <img src="/images/homepage1.png">
    <p>
      A chart showing how the three game elements interact
    </p>
  </div>

 <div>
    <a href="/seniors">
      Get Started
    </a>
  </div>

   <div>
    <a href="/about_us">
      Learn more about us
    </a>
  </div>
  
</body>
</html>
