<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Home Life</title>

  <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
  <meta charset="utf-8">
</head>

<body>
 


  <h1>
    Welcome to Home Life!
  </h1>





  
  <p>
    This page needs to convey the key value propositions, primary and secondary calls to actions, and features of our services
  </p>

  <div>
    <img src="/images/homepage1.png">
  </div>

   <div>
    <a href="/seniors">
      Get Started
    </a>
  </div>


  <div>
    <img src="/images/feature1.png">

  </div>

   <div>
    <a href="/about_us">
      Learn more about us
    </a>
  </div>

  <div>
    <img src="/images/feature2.png">
  </div>

  <div>
    <img src="/images/feature3.png">
  </div>

  <div>
    <img src="/images/feature4.png">
  </div>

</body>
</html>
