<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Home Life</title>

  <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
  <meta charset="utf-8">
</head>

<body>
  <div>
    <a href="/seniors">
      Get Started
    </a>
  </div>

  <div>
    <a href="/paper">
      Play Paper
    </a>
  </div>

  <div>
    <a href="/scissors">
      Play Scissors
    </a>
  </div>

  <h1>
    Welcome to Home Life!
  </h1>





  <p>
    These shapes are:
  </p>

  <ul>
    <li>
      "rock" (a closed fist)
    </li>

    <li>
      "paper" (a flat hand)
    </li>

    <li>
      "scissors" (a fist with the index and middle fingers extended, forming a V)
    </li>

  </ul>


  <table border="1">
    <tr>
      <td rowspan="2" colspan="2"></td>
      <td colspan="3">and they play...</td>
    </tr>

    <tr>
      <td>Rock</td>
      <td>Paper</td>
      <td>Scissors</td>
    </tr>

    <tr>
      <td rowspan="3">If we play...</td>
      <td>Rock</td>
      <td>We tie</td>
      <td>We lose</td>
      <td>We win</td>
    </tr>

    <tr>
      <td>Paper</td>
      <td>We win</td>
      <td>We tie</td>
      <td>We lose</td>
    </tr>

    <tr>
      <td>Scissors</td>
      <td>We lose</td>
      <td>We win</td>
      <td>We tie</td>
    </tr>
  </table>

  <p>
    Originating from China and Japan, other names for the game in the
    English-speaking world include roshambo and other orderings of the three
    items, with "rock" sometimes being called "stone".
  </p>

  <div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Rock-paper-scissors.svg/627px-Rock-paper-scissors.svg.png">
    <p>
      A chart showing how the three game elements interact
    </p>
  </div>


</body>
</html>
